mixin form-change-multi(path)
    form(
        action=
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start
            .form-group(class="mr-3")
                select(name="type" class="form-control")
                    option(value="active") Hoạt động 
                    option(value="inactive") Dừng hoạt động 

            .form-group(class="mr-3")
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Áp dụng