mixin sort()
    div(sort) 
        select(
            class="form-control"
            name="sort"
            sort-select
        ) 
            option(value="position-desc") Vị trí giảm dần
            option(value="position-asc") Vị trí tăng dần
            option(value="price-desc") Giá giảm dần
            option(value="price-asc") Giá tăng dần
            option(value="title-desc") Tiêu đề A - Z
            option(value="title-asc") Tiêu đề Z - A

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear

mixin sort-products-category()
    div(sort) 
        select(
            class="form-control"
            name="sort"
            sort-select
        ) 
            option(value="position-desc") Vị trí giảm dần
            option(value="position-asc") Vị trí tăng dần
            option(value="title-desc") Tiêu đề A - Z
            option(value="title-asc") Tiêu đề Z - A

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear

mixin sort-accounts()
    div(sort) 
        select(
            class="form-control"
            name="sort"
            sort-select
        ) 
            option(value="fullName-desc") Họ tên A - Z
            option(value="fullName-asc") Họ tên Z - A

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear